.previewer {
    min-height: 105px;
    margin-top: 25px;
    font-size: 15px;
    border: 2px solid rgb(187, 186, 186);  
    border-radius: 3px;  
    background: url('../../images/glass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
    padding: 10px;
}

.upload {
    width: 150px;
    height: 30px;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border-radius: 2px;
    background-color: tomato;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.upload:hover {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.disabled:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.imgWrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgdiv {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 10px;
}

.img {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(187, 186, 186);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.delete {
    width: 25px;
    height: 25px;    
    position: absolute;
    right: 5px;
    top: 6px;
    z-index: 1;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.delete:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.docWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.docdiv {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(187, 186, 186);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    background: white;
}

.docdiv p {
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    padding: 0%;
    margin: 0%; 
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
}

.docdelete {
    width: 25px;
    height: 25px;  
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.docdelete:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

@media only screen and (max-width: 970px) {
    .imgdiv {
        width: 90px;
        height: 90px;
    }
  }
